<section class="c-highlights__card c-highlights__card--text">
  <div class="c-highlights__header">
    <p class="c-highlights__title c-highlights__title--lg">Strategy determines direction.</p>
    <div class="c-highlights__avatars" aria-hidden="true">
      <img
        class="c-highlights__avatar c-highlights__avatar--1"
        src="Highlights/assets/mp0vb7ii-zkfw26w.png"
        alt=""
      />
      <img
        class="c-highlights__avatar c-highlights__avatar--2"
        src="Highlights/assets/mp0vb7ii-1p6j43z.png"
        alt=""
      />
      <img
        class="c-highlights__avatar c-highlights__avatar--3"
        src="Highlights/assets/mp0vb7ii-2b2wygh.png"
        alt=""
      />
      <img
        class="c-highlights__avatar c-highlights__avatar--4"
        src="Highlights/assets/mp0vb7ii-whm3614.png"
        alt=""
      />
      <img
        class="c-highlights__avatar c-highlights__avatar--5"
        src="Highlights/assets/mp0vb7ii-24frsta.png"
        alt=""
      />
    </div>
  </div>
  <div class="c-highlights__text c-highlights__text--wide">
    <p class="c-highlights__body">
      Infrastructure determines speed and reliability. In volatile and uncertain
      times, execution capability matters more than perfect direction.
    </p>
  </div>
</section>
