* {
  box-sizing: border-box;
}

.a03 {
  width: 13px;
  height: 14px;
  line-height: 14px;
  letter-spacing: -0.08px;
  color: var(--token-text-placeholder, #8f959e);
  font-family: "Lark Circular", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
